.userInfo {
  display: grid;
  grid-template-columns: 60% calc(40% - (var(--grid-spacing)));
  column-gap: var(--grid-spacing);
  grid-area: userInfo;
}

.infoList {
  padding: 4px 8px;
  list-style: none;
}
