.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--fixed-heading-height);
  background-color: var(--white);
  color: var(--dark-blue);
  font-size: 0.875rem;
  letter-spacing: 0.125em;
}
