.searchPage {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 35vh 50px 35vh;
  grid-template-areas:
    "searchHistory userInfo"
    "searchHistory searchForm"
    "searchHistory searchResult";
  grid-gap: var(--grid-spacing);
  width: 1280px;
}
