.searchHistory {
  grid-area: searchHistory;
  background-color: var(--light-grey);
}

.searchesList {
  height: calc(100% - var(--fixed-heading-height));
  padding: 4px 8px;
  list-style: none;
  overflow-y: scroll;

  li {
    padding: 8px 4px;
    border-bottom: 2px solid var(--light-blue);
    font-size: 0.75rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:last-of-type {
      border-bottom: none;
    }
  }
}
