.searchHistory {
  display: grid;
  grid-template-rows: 35px calc(100% - 35px);
  grid-area: searchHistory;
  background-color: var(--light-grey);
}

.searchesList {
  padding: 4px 8px;
  list-style: none;
  overflow-y: scroll;

  li {
    padding: 8px 4px;
    border-bottom: 2px solid var(--light-blue);
    font-size: 0.75rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  color: var(--dark-blue);
  font-size: 1rem;
  letter-spacing: 0.125em;
}
